<html style="align-content: center;font-size: x-large;background-color: bisque;">
<head>
    Details of charities<br><br><br>
</head>
    <body>
        <div style="align-content: center;font-size: x-large;">
            <table border="1" style="background-color: lavender;" >
                <thead>
                   <th>
                    S.No.
                   </th>
                   <th>
                    Name
                </th>
                <th>
                   Email-id    
                </th>
                </thead>
                <tbody>
                    <tr>
                        <td font-size: x-large>
                        1.
                        </td>
                        <td font-size: x-large>
                            Action Against Hunger Canada
                        </td>
                        <td font-size: x-large>
                          info@actionagainsthunger.ca
                        </td>
                    </tr>
                    <tr>
                        <td font-size: x-large>
                        2.
                        </td>
                        <td font-size: x-large>
                            The Salvation Army
                        </td>
                        <td font-size: x-large>
                            ihq-communications@salvationarmy.org
                        </td>
                    </tr>
                    <tr>
                        <td font-size: x-large>
                        3.
                        </td>
                        <td font-size: x-large>
                            Chalice Canada 
                        </td>
                        <td font-size: x-large>
                            info@charityintelligence.ca
                        </td>
                    </tr>
                    <tr>
                        <td font-size: x-large>
                        4.
                        </td>
                        <td font-size: x-large>
                            Indspire   
                        </td>
                        <td font-size: x-large>
                            info@indspire.ca
                        </td>
                    </tr>
                    <tr>
                        <td font-size: x-large>
                        5.
                        </td>
                        <td font-size: x-large>
                            Food Banks Canada
                        </td>
                        <td font-size: x-large>
                            info@foodbankscanada.ca
                        </td>
                    </tr>
                    <tr>
                        <td font-size: x-large>
                        6.
                        </td>
                        <td font-size: x-large>
                            Canadian Alliance to End Homelessness
                        </td>
                        <td font-size: x-large>
                            info@caeh.ca
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
   
</html>
