
<html style="background-color: bisque;">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        body {font-family: Arial;}
        #bck{
          
          background-image: url('https://www.lifewire.com/thmb/wwxq7jp-2tjL6nq_2B0YxWKXw4E=/1920x1080/filters:fill(auto,1)/tropical-beach-wallpaper-beach-backgrounds-587fbb765f9b584db3241860.jpg');
          background-repeat: no-repeat;
          height: 461px;
          width: 800px;
         
        }  
      </style>
  </head>
<body id="bck" >
<br><br>
<h2> Beach Clean-Up Event Details</h2>
<div class="text-center align-middle tab" style="font-size: large;">

  <div id="Register" class="text-center align-middle tab" >
 
    <table id="tevt">
       
        <tbody>
            <tr>
                <td font-size: large>
                    Date : 
                </td>
                <td>
                    <input type="date" id="edate" style="width: 204px;" /> 
                </td>
            </tr>
            <tr>
                <td font-size: large>
                    Location : 
                </td>
                <td>
                    <input type="text" id="eloc"> 
                </td>
            </tr>
           
            <tr>
                <td font-size: large>
                   Time : 
                </td>
                <td>
                    <input type="time" id="etime" style="width: 204px;" /> 
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="text-center">
                    <button type="submit" onclick="s();">
                        Submit
                    </button></div>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
 </div>
</body>
</html>
<script>

function s(){
 var edate = document.getElementById("edate").value;
 var etime = document.getElementById("etime").value;
 var eloc = document.getElementById("eloc").value;
 window.location.href="{% url 'event_addf' %}"+"?edate="+edate+"&etime="+etime+"&eloc="+eloc;



    
}

</script>


