
<html style="background-color: bisque;">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
        body {font-family: Arial;}
        #bck{
          
          background-image: url('https://www.lifewire.com/thmb/wwxq7jp-2tjL6nq_2B0YxWKXw4E=/1920x1080/filters:fill(auto,1)/tropical-beach-wallpaper-beach-backgrounds-587fbb765f9b584db3241860.jpg');
          background-repeat: no-repeat;
          height: 461px;
          width: 800px;
         
        }  
      </style>
  </head>
  <br>
  <h2 style="background-color: aquamarine;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upcoming Events</h1>
  <br><br><br><br>
<body id="bck" >
<div class="text-center align-middle " style="font-size: large;">
  <table border="1" class="text-center align-middle" style="width: 800px;background-color: bisque;"  id="tevents"> 
    <thead>
       <th>
       S.No.
      </th> 
       <th>
       Location  
      </th> 
      <th>
        Date 
      </th> 
      <th>
        Time 
      </th> 
    </thead>
    <tbody>
      {% for i in evntsl %}
     <tr>
       <td>
        {{ forloop.counter }}
       </td>
       <td>
        {{i.eloct}}
       </td>
       <td>
        {{i.edate}}
       </td>
       <td>
        {{i.etime}}
       </td>
     </tr>  
   {% endfor %} 
    </tbody>
</table>
</div>
</body>
</html>
